<div class="input-container">
  @if (label()) {
    <label [for]="name()" class="input-label">
      {{ label() }}
    </label>
  }

  <div class="input-wrapper" [class.input-wrapper--error]="isInvalid" [class.opacity-60]="disabled()">
    @if (prefix()) {
      <span class="input-prefix">{{ prefix() }}</span>
    }
    
    @if (control) {
      <input
        [id]="name()"
        [name]="name()"
        [type]="inputType()"
        [formControl]="$any(control)"
        [placeholder]="placeholder()"
        [disabled]="disabled()"
        [attr.maxlength]="maxLength()"
        [appCurrencyMask]="isCurrency()"
        class="input-field"
      />
    } @else {
      <input
        [id]="name()"
        [name]="name()"
        [type]="inputType()"
        [value]="value()"
        (input)="onInputChange($event)"
        [placeholder]="placeholder()"
        [disabled]="disabled()"
        [attr.maxlength]="maxLength()"
        [appCurrencyMask]="isCurrency()"
        class="input-field"
      />
    }

    @if (suffix() || suffixIcon()) {
      <span class="input-suffix flex items-center gap-1">
        @if (suffixIcon()) {
          <lucide-icon [name]="suffixIcon()!" [size]="14" class="opacity-40"></lucide-icon>
        }
        {{ suffix() }}
      </span>
    }
  </div>

  @if (isInvalid) {
    <span class="input-error">
      {{ getFirstError() }}
    </span>
  }
</div>
