<nav class="mobile-nav">
  <ul class="nav-links">
    <li>
      <a routerLink="/home" routerLinkActive="active">
        <lucide-icon [img]="icons.Home" [size]="24" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/inspections" routerLinkActive="active">
        <lucide-icon [img]="icons.ClipboardList" [size]="24" />
        <span>Inspections</span>
      </a>
    </li>
    <li>
      <a routerLink="/templates" routerLinkActive="active">
        <lucide-icon [img]="icons.Layers" [size]="24" />
        <span>Templates</span>
      </a>
    </li>
    <li>
      <a routerLink="/settings" routerLinkActive="active">
        <lucide-icon [img]="icons.Settings" [size]="24" />
        <span>Settings</span>
      </a>
    </li>
  </ul>
</nav>