<nav class="mobile-nav">
  <ul class="nav-links">
    <li>
      <a routerLink="/dashboard/home" routerLinkActive="active">
        <lucide-icon [img]="icons.Home" [size]="24" />
        <span>Home</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/inspections" routerLinkActive="active">
        <lucide-icon [img]="icons.ClipboardList" [size]="24" />
        <span>Inspections</span>
      </a>
    </li>
    <li>
      <a routerLink="/dashboard/profile" routerLinkActive="active">
        <lucide-icon [img]="icons.UserCircle" [size]="24" />
        <span>Profile</span>
      </a>
    </li>
  </ul>
</nav>
