<header class="top-bar">
  <div class="brand">
    <lucide-icon [img]="icons.House" [size]="24" class="brand-icon" />
    <span class="brand-name">Inspectly</span>
  </div>
  
  <div class="user-info">
    <div class="subscription-badge" [ngClass]="authService.currentUser()?.subscription_status || 'free'">
       <lucide-icon [img]="icons.ShieldCheck" [size]="14"></lucide-icon>
       <span>{{ authService.currentUser()?.subscription_status | titlecase }}</span>
    </div>
    <span class="user-name">{{ authService.currentUser()?.name }}</span>
  </div>
</header>
