<div class="input-container">
  @if (label()) {
    <label [for]="name()" class="input-label">
      {{ label() }}
    </label>
  }

  <textarea
    [id]="name()"
    [name]="name()"
    [formControl]="$any(control)"
    [placeholder]="placeholder()"
    [rows]="rows()"
    [readOnly]="readonly()"
    [attr.maxlength]="maxLength()"
    class="input-field"
    [class.input-field--error]="isInvalid"
  ></textarea>

  @if (isInvalid) {
    <span class="input-error">
      {{ getFirstError() }}
    </span>
  }
</div>
