<nav class="desktop-nav">
  <div class="logo">
    <lucide-icon [img]="icons.House" [size]="28" />
    Inspectly
  </div>
  <div class="nav-content">
    <ul class="nav-links">
      <li>
        <a routerLink="/dashboard/home" routerLinkActive="active">
          <lucide-icon [img]="icons.House" [size]="20" />
          Home
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/inspections" routerLinkActive="active">
          <lucide-icon [img]="icons.ClipboardList" [size]="20" />
          Inspections
        </a>
      </li>
      <li>
        <a routerLink="/dashboard/profile" routerLinkActive="active">
          <lucide-icon [img]="icons.UserCircle" [size]="20" />
          Profile
        </a>
      </li>
      <li>
        <a (click)="onLogout()">
          <lucide-icon [img]="icons.LogOut" [size]="20" />
          Logout
        </a>
      </li>
    </ul>
  </div>
</nav>