<div class="input-container">
  @if (label()) {
    <label [for]="name()" class="input-label">
      {{ label() }}
    </label>
  }

  @if (control) {
    <select
      [id]="name()"
      [name]="name()"
      [formControl]="$any(control)"
      class="input-field"
      [class.input-field--error]="isInvalid"
    >
      @for (opt of mappedOptions(); track opt.value) {
        <option [value]="opt.value">{{ opt.label }}</option>
      }
    </select>
  } @else {
    <select
      [id]="name()"
      [name]="name()"
      (change)="onSelectChange($event)"
      [disabled]="disabled()"
      class="input-field"
      [class.input-field--error]="isInvalid"
    >
      <option value="" [selected]="!value()" disabled hidden>Select an option...</option>
      @for (opt of mappedOptions(); track opt.value) {
        <option [value]="opt.value" [selected]="opt.value === value()">{{ opt.label }}</option>
      }
    </select>
  }

  @if (isInvalid) {
    <span class="input-error">
      {{ getFirstError() }}
    </span>
  }
</div>
